.navbar-nav .nav-item:hover .nav-link 
{
   color: #fff;  
  backgorund-color:white;
   border-radius:50%;
   /* transform:translate(200px,300px); */
     /*  transform:rotate(20deg); */
      /*  transform:scale(1,3);  */
}

.container-fluid
{
	
	text-color:red;

}


